* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*:focus {
  outline: 0;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  gap: 20px;
}

.container {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: black;
}

.container nav {
  z-index: 2;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 30px;
  height: 100px;
  background-color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #ffffff33;
}

.container nav .menu-toggle {
  display: none;
  height: 100%;
}

@media (max-width: 1100px) {
  .container nav .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
}

.container nav .menu-toggle .hamburger {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

@media (max-width: 1100px) {
  .container nav a {
    padding: 0 15px 0 15px;
  }
}

.container nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 1100px) {
  .container nav .navbar {
    display: none;
  }
}

.container nav .navbar .left {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.container nav .navbar .left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.container nav .navbar .left :hover {
  border-bottom: 1px solid #ffba08;
  color: #ffba08;
  opacity: 1;
}

.container nav .navbar .right {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container nav .navbar .right span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container nav .navbar .right span a {
  border-left: 1px dashed #ffffff33;
  height: 100px;
  width: 60px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.container nav .navbar .right span a span {
  opacity: 0.6;
  white-space: nowrap;
}

.container nav .navbar .right span :hover {
  background-color: #ffba08;
}

@media (max-width: 1100px) {
  .container nav {
    padding: 0;
  }
}

.container .first-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .first-page .wrapper {
  width: calc(100% - 300px);
  height: calc(100vh - 100px);
  margin-top: 100px;
  background-color: #141416;
  border-right: 1px dashed #ffffff33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .first-page .wrapper img {
  position: absolute;
  width: 274.75px;
  height: 450px;
  z-index: -1px;
}

.container .first-page .wrapper p {
  text-align: center;
  font-family: "Panchang-Regular";
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.container .first-page .wrapper p span {
  color: #ffba08;
}

@media (max-width: 1100px) {
  .container .first-page .wrapper {
    width: 100%;
    border: 0;
    height: calc(100vh - 194px);
  }
}

.container .first-page .black {
  width: 300px;
  height: 100vh;
}

@media (max-width: 1100px) {
  .container .first-page .black {
    display: none;
  }
}

.container .scroll {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 30px;
  bottom: 30px;
  gap: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .scroll p {
  color: #fff;
  font-weight: 400px;
  font-size: 16px;
}

.container .scroll span {
  height: 1px;
  width: 64px;
  background-color: #ffffff;
}

@media (max-width: 1100px) {
  .container .scroll {
    margin-bottom: 94px;
  }
}

.container .questions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.container .questions img {
  position: absolute;
  right: 34px;
  top: 34px;
}

.container .questions p {
  width: 180px;
  height: 64px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1100px) {
  .container .questions {
    position: relative;
    width: 100%;
    height: 94px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
}

.questions:hover {
  background-color: #ffba08;
}

.second-page {
  width: 100%;
  min-height: 100vh;
  background-color: #141416;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.second-page .background-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.second-page .background-container img {
  width: 100%;
}

.second-page .background-container .overlay-image {
  position: absolute;
  left: 10%;
  bottom: 20%;
}

@media (max-width: 1100px) {
  .second-page .background-container .overlay-image {
    display: none;
  }
}

.second-page .second-page-left {
  max-width: 623px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.second-page .second-page-left h3 {
  font-size: 12px;
  font-weight: 800;
  line-height: 18px;
  color: #ffba08;
}

.second-page .second-page-left p {
  font-family: Panchang-medium;
  font-size: 44px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding: 10px;
}

.second-page .second-page-right {
  z-index: 1;
  max-width: 628px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0;
  gap: 60px;
}

.second-page .second-page-right .left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.second-page .second-page-right .left-top p {
  font-family: PP-Telegraf-bold;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
}

.second-page .second-page-right .left-top p span {
  color: #ffffff33;
}

.second-page .second-page-right .right-bottom {
  font-family: PP-Telegraf-normal;
  font-size: 16px;
  color: #ffffff;
  line-height: 34px;
  padding: 10px;
}

.second-page .second-page-right .right-bottom span {
  font-family: PP-Telegraf-bold;
  color: #fff;
}

@media (max-width: 1100px) {
  .second-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.our-project h2 {
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffba08;
  padding: 60px 30px 60px 30px;
}

.our-project p {
  font-family: PP-Telegraf-normal;
  max-width: 797px;
  padding: 60px 40px 60px 40px;
  color: #eff0f2;
  line-height: 34px;
  font-size: 16px;
  font-weight: 400;
}

.our-project p span {
  font-family: PP-Telegraf-bold;
  color: #fff;
}

@media (max-width: 1100px) {
  .our-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1687px) {
  .our-project {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 30px;
}

.project-page h2 {
  max-width: 533px;
  padding: 40px 30px 40px 30px;
  color: #fff;
  font-family: Panchang-Medium;
  font-size: 44px;
  line-height: 54px;
}

.project-page .project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 877px;
}

.project-page .project-cards .card {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 40px 60px 40px;
  position: relative;
  background-color: #141416;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.project-page .project-cards .card svg {
  position: absolute;
  right: 18px;
  top: 18px;
}

.project-page .project-cards .card img {
  width: 54px;
}

.project-page .project-cards .card .trans-45 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.project-page .project-cards .card .hover-image {
  display: none;
  width: 54px;
}

.project-page .project-cards .card h4 {
  font-family: "PP-Telegraf-normal";
  max-width: 212px;
  color: white;
  font-size: 24px;
}

.project-page .project-cards :hover {
  background-color: #ffba08;
}

.project-page .project-cards :hover svg path {
  stroke: #000;
}

.project-page .project-cards :hover h4 {
  color: #000;
}

.project-page .project-cards :hover img {
  display: none;
}

.project-page .project-cards :hover .hover-image {
  display: block;
}

@media (max-width: 1100px) {
  .project-page .project-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .project-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1687px) {
  .project-page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.our-invertor {
  width: 100%;
  margin-top: 52px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.our-invertor .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.our-invertor .title span {
  padding: 18px 0 18px 0;
  font-family: PP-Telegraf-bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffba08;
}

.our-invertor .title h2 {
  font-family: "Panchang-Medium";
  font-size: 44px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

@media (max-width: 1100px) {
  .our-invertor .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-invertor .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-invertor .page .image {
  max-width: 440px;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .our-invertor .page .image {
    max-width: 220px;
  }
}

.our-invertor .page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  max-width: 740px;
}

.our-invertor .page .content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.our-invertor .page .content .card .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.our-invertor .page .content .card .item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-invertor .page .content .card .item span h2 {
  font-family: PP-Telegraf-bold;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.our-invertor .page .content .card .item span p {
  font-family: PP-Telegraf-normal;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #eff0f2;
  max-height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .our-invertor .page .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .our-invertor .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.what-have {
  margin: 30px;
  margin-bottom: 10px;
  padding: 40px 30px 40px 30px;
  background-color: #141416;
  color: #eff0f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 53px;
}

.what-have .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.what-have .top h2 {
  font-family: Panchang-Regular;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

@media (max-width: 1100px) {
  .what-have .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.what-have .bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.what-have .bottom .card {
  max-width: 420px;
  max-height: 517px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  position: relative;
}

.what-have .bottom .card img {
  max-width: 420px;
  height: auto;
}

@media (max-width: 768px) {
  .what-have .bottom .card img {
    max-width: 220px;
  }
}

.what-have .bottom .card .date {
  position: absolute;
  top: 12px;
  left: 0;
  background-color: #ffffff1a;
  padding: 8px 10px 5px 10px;
  font-family: PP-Telegraf-bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.what-have .bottom .card .card-desc {
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-have .bottom .card .card-desc h4 {
  height: 57px;
  font-family: PP-Telegraf-normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.what-have .bottom .card .card-desc p {
  height: 68px;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #eff0f2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.what-have .bottom .card .read-more {
  width: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid grey;
}

.what-have .bottom .card .read-more button {
  font-family: PP-Telegraf-bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  background-color: transparent;
  color: #fff;
}

.what-have .bottom .card .read-more img {
  width: 16px;
  height: 16px;
}

.what-have .bottom :hover .read-more {
  border-bottom: 1px solid #ffba08;
}

@media (max-width: 1100px) {
  .what-have .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-us {
  margin: 30px;
  margin-top: 0;
  padding: 40px 30px 40px 30px;
  background-color: #ffba08;
  background-image: url(../image/Vector.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.contact-us h2 {
  font-family: "Panchang-Medium";
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  word-wrap: break-word;
  word-break: break-all;
}

.contact-us p {
  font-family: PP-Telegraf-normal;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.contact-us .contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .contact-button button {
  background-color: transparent;
  font-family: PP-Telegraf-bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-right: 16px;
}

.contact-us .contact-button img {
  width: 16px;
  height: 16px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 82px 30px 30px 30px;
  gap: 30px;
}

.footer .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.footer .top img {
  width: 84px;
  height: auto;
}

.footer .top .top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0 10px 0 10px;
}

.footer .top .top-right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  color: #fff;
  font-family: PP-Telegraf-normal;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  border-right: 1px dashed #ffffff33;
}

.footer .top .top-right :last-child {
  border: 0;
}

@media (max-width: 768px) {
  .footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .middle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  padding-right: 100px;
}

.footer .middle .group {
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.footer .middle .group span {
  font-family: PP-Telegraf-bold;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #6d7279;
}

.footer .middle .group p {
  max-width: 263px;
  font-family: PP-Telegraf-normal;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.footer .middle .group a {
  max-width: 263px;
  font-family: PP-Telegraf-normal;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.footer .middle .group a p {
  width: auto;
}

.footer .middle .group a :hover {
  border-bottom: 1px solid #ffba08;
  color: #ffba08;
}

@media (max-width: 768px) {
  .footer .middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.footer .bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.footer .bottom p {
  font-family: PP-Telegraf-normal;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.menu-navbar {
  display: none;
  position: fixed;
  z-index: 3;
  width: 243px;
  height: 100vh;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.menu-navbar button {
  height: 100px;
  right: 253px;
  background-color: black;
  position: absolute;
}

.menu-navbar .image {
  height: 100px;
  padding: 20px;
}

.menu-navbar .navbar-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-navbar .navbar-link .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-navbar .navbar-link .up a {
  color: #fff;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px dashed #ffffff33;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
}

.menu-navbar .navbar-link .up :last-child {
  border: 0;
}

.menu-navbar .navbar-link .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px dashed #ffffff33;
}

.menu-navbar .navbar-link .down a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-left: 1px dashed #ffffff33;
  height: 100%;
  padding: 10px;
}

@media (max-width: 1100px) {
  .menu-navbar {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */