@font-face {
  font-family: "PP-Telegraf-italic";
  src: url("../fonts/PPTelegraf-RegularSlanted.woff2") format("woff2"),
    url("../fonts/PPTelegraf-RegularSlanted.woff") format("woff"),
    url("../fonts/PPTelegraf-RegularSlanted.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP-Telegraf-normal";
  src: url("../fonts/PPTelegraf-Regular.woff2") format("woff2"),
    url("../fonts/PPTelegraf-Regular.woff") format("woff"),
    url("../fonts/PPTelegraf-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf Oblique";
  src: url("../fonts/PPTelegraf-RegularOblique.woff2") format("woff2"),
    url("../fonts/PPTelegraf-RegularOblique.woff") format("woff"),
    url("../fonts/PPTelegraf-RegularOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf";
  src: url("../fonts/PPTelegraf-UltralightSlanted.woff2") format("woff2"),
    url("../fonts/PPTelegraf-UltralightSlanted.woff") format("woff"),
    url("../fonts/PPTelegraf-UltralightSlanted.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf";
  src: url("../fonts/PPTelegraf-Ultralight.woff2") format("woff2"),
    url("../fonts/PPTelegraf-Ultralight.woff") format("woff"),
    url("../fonts/PPTelegraf-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf Ultrabold Oblique";
  src: url("../fonts/PPTelegraf-UltraboldOblique.woff2") format("woff2"),
    url("../fonts/PPTelegraf-UltraboldOblique.woff") format("woff"),
    url("../fonts/PPTelegraf-UltraboldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP-Telegraf-bold";
  src: url("../fonts/PPTelegraf-Ultrabold.woff2") format("woff2"),
    url("../fonts/PPTelegraf-Ultrabold.woff") format("woff"),
    url("../fonts/PPTelegraf-Ultrabold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf Ultralight Oblique";
  src: url("../fonts/PPTelegraf-UltralightOblique.woff2") format("woff2"),
    url("../fonts/PPTelegraf-UltralightOblique.woff") format("woff"),
    url("../fonts/PPTelegraf-UltralightOblique.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Telegraf";
  src: url("../fonts/PPTelegraf-UltraboldSlanted.woff2") format("woff2"),
    url("../fonts/PPTelegraf-UltraboldSlanted.woff") format("woff"),
    url("../fonts/PPTelegraf-UltraboldSlanted.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
